.container {
  margin: 0 auto;
  max-width: 540px;
  background-color: red;

  &--medium {
    max-width: 720px;
  }

  &--large {
    max-width: 960px;
  }

  &--x-large {
    max-width: 1140px;
  }

  &--xx-large {
    max-width: 1320px;
  }
}
