@import '~antd/lib/style/themes/default.less';

body .page-content {
  width: 100%;

  &__header {
    width: 100%;
    background-color: @white;
  }

  &__content {
    margin-top: 24px;
    padding: 0 16px;
  }
}
