/* stylelint-disable unit-allowed-list */
body .container {
  margin: 0 auto;
  max-width: 576px;

  &--medium {
    max-width: 768px;
  }

  &--large {
    max-width: 992px;
  }

  &--x-large {
    max-width: 1200px;
  }

  &--xx-large {
    max-width: 1400px;
  }

  &--ultra-large {
    max-width: 1600px;
  }

  &--fluid {
    max-width: 100%;
  }
}
